

.component-wrapper {
  text-align: center;
}

 .component-wrapper .game-table {
  margin: 0 auto;
}

.component-wrapper .game-table td {
  width: 50px;
}

.component-wrapper .game {
  width: 40%;
  margin: 0 auto;
}

.component-wrapper p.error {
  color: red;
  font-size: 15px;
}

.disabled {
  background-color: rgba(211, 211, 211, 0.6)
}
