<div class="component-wrapper">
  <p>You are:
  <label>
    <input type="radio" value="X" ng-model="player" value="Clear Board" /><strong>X</strong>
  </label>
  <label>
    <input type="radio" value="O" ng-model="player" /><strong>O</strong>
  </label>
  </p>
  <div class="game" ng-class="{disabled: loading}">
    <p ng-show="currentPlayer == player">Your Turn</p>

    <p ng-show="currentPlayer != player && !winner">Waiting for Opponent</p>

    <p ng-show="winner">WINNER IS {{winner}}! <br> </p>

    <table border="1" class="game-table" ng-if="board">
      <tr ng-repeat="row in [0,1,2]">
        <td ng-repeat="column in [0,1,2]" ng-click="cellClick(row,column)">{{cellText(row,column)}}</td>
      </tr>
    </table>
    <br>

    <p class="error">{{ error }}</p>
    <p class="logs" ng-repeat="log in logs|orderBy:'-'">{{log.added_on_date|date:'yyyy-MM-dd HH:mm:ss'}} (Game {{log.game}}): Player '{{log.player}}' moved to row {{log.to_row}} column {{log.to_column}}</p>

    <input type="button" ng-click="newGame()" value="Restart game" />
  </div>
</div>
